/* CSS for buttons */
.bmls_primary_large_btn {
  color: #ffffff !important;
  background: #f13c00 !important;
  border-radius: 4px !important;
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}
.bmls_primary_large_btn:hover {
  background: #652106 !important;
}
.bmls_primary_large_btn.Mui-disabled {
  background: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.26) !important;
}

.bmls_primary_medium_btn {
  color: #ffffff !important;
  background: #f13c00 !important;
  border-radius: 4px !important;
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 15px !important;
}
.bmls_primary_medium_btn:hover {
  background: #652106 !important;
}
.bmls_primary_medium_btn:active {
  background: #fee8e6 !important;
  color: #f13c00 !important;
}
.bmls_primary_medium_btn.Mui-disabled {
  background: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.26) !important;
}

.bmls_primary_small_btn {
  color: #ffffff !important;
  background: #f13c00 !important;
  border-radius: 4px !important;
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}
.bmls_primary_small_btn:hover {
  background: #652106 !important;
}
.bmls_primary_small_btn.Mui-disabled {
  background: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.26) !important;
}

.bmls_secondary_large_btn {
  color: #f13c00 !important;
  border-color: #f13c00 !important;
  border-radius: 4px !important;
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}
.bmls_secondary_large_btn:hover {
  background: rgba(241, 60, 0, 0.04) !important;
  color: #652106 !important;
  border-color: #652106 !important;
}
.bmls_secondary_large_btn.Mui-disabled {
  border-color: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.26) !important;
}

.bmls_secondary_medium_btn {
  color: #f13c00 !important;
  border-color: #f13c00 !important;
  border-radius: 4px !important;
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 15px !important;
}
.bmls_secondary_medium_btn:hover {
  background: rgba(241, 60, 0, 0.04) !important;
  color: #652106 !important;
  border-color: #652106 !important;
}
.bmls_secondary_medium_btn.Mui-disabled {
  border-color: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.26) !important;
}

.bmls_secondary_small_btn {
  color: #f13c00 !important;
  border-color: #f13c00 !important;
  border-radius: 4px !important;
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}
.bmls_secondary_small_btn:hover {
  background: rgba(241, 60, 0, 0.04) !important;
  color: #652106 !important;
  border-color: #652106 !important;
}
.bmls_secondary_small_btn.Mui-disabled {
  border-color: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.26) !important;
}

.bmls_tertiary_large_btn {
  color: #f13c00 !important;
  border-radius: 4px !important;
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}
.bmls_tertiary_large_btn:hover {
  background-color: rgba(241, 60, 0, 0.04) !important;
}
.bmls_tertiary_large_btn.Mui-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
}

.bmls_tertiary_medium_btn {
  color: #f13c00 !important;
  border-radius: 4px !important;
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 15px !important;
}
.bmls_tertiary_medium_btn:hover {
  background-color: rgba(241, 60, 0, 0.04) !important;
}
.bmls_tertiary_medium_btn.Mui-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
}

.bmls_tertiary_small_btn {
  color: #f13c00 !important;
  border-radius: 4px !important;
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}
.bmls_tertiary_small_btn:hover {
  background-color: rgba(241, 60, 0, 0.04) !important;
}
.bmls_tertiary_small_btn.Mui-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
}

.bmls_default_btn_with_icon {
  color: #ffffff !important;
  background: #f13c00 !important;
  border-radius: 4px !important;
  text-transform: none !important;
}

.bmls_small_btn_with_icon {
  color: #ffffff !important;
  background: #f13c00 !important;
  border-radius: 4px !important;
  text-transform: none !important;
}

.bmls_icon_only_default_btn {
  color: #ffffff !important;
  background: #f13c00 !important;
  border-radius: 4px !important;
}
.bmls_icon_only_default_btn .MuiSvgIcon-root {
  width: 1rem !important;
  height: 1rem !important;
}

.bmls_icon_only_small_btn {
  color: #ffffff !important;
  background: #f13c00 !important;
  border-radius: 4px !important;
}
.bmls_icon_only_small_btn .MuiSvgIcon-root {
  width: 1rem !important;
  height: 1rem !important;
}

/* css for alerts */
.bmls_basic_alert {
  color: #1a1a1e !important;
}

/* css for checkbox */
.bmls_checkbox.Mui-checked {
  color: #253772 !important;
}

.bmls_checkbox.MuiCheckbox-indeterminate {
  color: #253772 !important;
}

.bmls_checkbox:hover {
  background-color: rgba(37, 55, 114, 0.08) !important;
}

.bmls_small_checkbox_label .MuiFormControlLabel-label {
  font-size: 14px;
}

/* CSS for divider */
.bmls_divider {
  border-color: rgba(0, 0, 0, 0.2) !important;
}

/* CSS for radio button */
.bmls_radio_btn {
  color: #1a1a1e !important;
}
.bmls_radio_btn .Mui-checked {
  color: #253772 !important;
}
.bmls_radio_btn .MuiRadio-root:hover {
  background-color: rgba(37, 55, 114, 0.08) !important;
}

.bmls_small_radio_btn {
  color: #1a1a1e !important;
}
.bmls_small_radio_btn .Mui-checked {
  color: #253772 !important;
}
.bmls_small_radio_btn .MuiRadio-root:hover {
  background-color: rgba(37, 55, 114, 0.08) !important;
}
.bmls_small_radio_btn .MuiFormControlLabel-label {
  font-size: 14px !important;
}

/* CSS for select */
.bmls_select.Mui-focused {
  color: #8094d6 !important;
}
.bmls_select.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #8094d6 !important;
}

.bmls_select .MuiMenuItem-root {
  color: #1a1a1e !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#stories {
  display: none;
}



/*# sourceMappingURL=main.f7f4605b.css.map*/